<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ss13Telescience.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Ss13Telescience.Properties.Settings>
            <setting name="checkOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="selectedPower" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="selectedBearing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="selectedElevation" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="formPosX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="formPosY" serializeAs="String">
                <value>-1</value>
            </setting>
        </Ss13Telescience.Properties.Settings>
    </userSettings>
</configuration>